
.wrapperHome {
    padding-top: 100px;
    
    
}
.gridContainer {
   
    justify-content: space-between;
    align-items: center;
}
.title {
    font-weight: bold;
    font-size: 3.5rem;
  
}
.cards {
    display: flex;
    justify-content: space-between;
    
}
